<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Practical</title>
</head>

<body>
   <style>
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        }

        li {
        float: left;
        }

        li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }

        li a:hover:not(.active) {
        background-color: #111;
        }

        </style>

        <ul>
        <li><a href="">Result Management System</a></li>
        <li><a href="">Dilpreet Kaur</a></li>
        <li><a href="">2019CSC1012</a></li>
        <li style="float:right"><a href="">SET-B</a></li>
        </ul>

    
    <h1 class="heading">Choose from admin priveleges</h1>
    <div class="buttons-div">
        <a href="/register"><button class="button">Student register</button></a>
        <a href="/registerteacher"><button class="button">Teacher Register</button></a>
        <a href="/auth/logout"><button class="button">Logout</button></a>
    </div>
</body>
